<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://esprit.tn/">
            Esprit
          </a>
        </li>
        <li>
          <a href="https://esprit.tn/contact">
            Contactez-nous
          </a>
        </li>
        <li>
          <ul class="social-icons">
            <a href="#">
              SUIVEZ-NOUS :
            </a>
            <li><a href="https://www.facebook.com/esprit.tn" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/esprit_ingenieur/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/Esprit_News" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCJ5wuQ9AQYtpf9Arieu3iXA" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/school/esprit_2/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </li>
      </ul>
    </nav>
  
    <div class="copyright">
      2023 © All Rights Reserved. Created By ESPRIT
    </div>
  </div>
</footer>
